@-webkit-keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}
	100% {
		opacity: 0.2;
		top: 100%
	}
}

@keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}
	100% {
		opacity: 0.2;
		top: 100%
	}
}

@-webkit-keyframes blow-soft-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -50%
	}
}

@keyframes blow-soft-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -50%
	}
}

@-webkit-keyframes blow-medium-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -100%
	}
}

@keyframes blow-medium-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -100%
	}
}

@-webkit-keyframes blow-soft-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 50%
	}
}

@keyframes blow-soft-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 50%
	}
}

@-webkit-keyframes blow-medium-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 100%
	}
}

@keyframes blow-medium-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 100%
	}
}

@-webkit-keyframes sway-0 {
	0% {
		-webkit-transform: rotate(-5deg)
	}
	40% {
		-webkit-transform: rotate(28deg)
	}
	100% {
		-webkit-transform: rotate(3deg)
	}
}

@keyframes sway-0 {
	0% {
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}
	40% {
		-ms-transform: rotate(28deg);
		transform: rotate(28deg)
	}
	100% {
		-ms-transform: rotate(3deg);
		transform: rotate(3deg)
	}
}

@-webkit-keyframes sway-1 {
	0% {
		-webkit-transform: rotate(10deg)
	}
	40% {
		-webkit-transform: rotate(43deg)
	}
	100% {
		-webkit-transform: rotate(15deg)
	}
}

@keyframes sway-1 {
	0% {
		-ms-transform: rotate(10deg);
		transform: rotate(10deg)
	}
	40% {
		-ms-transform: rotate(43deg);
		transform: rotate(43deg)
	}
	100% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}
}

@-webkit-keyframes sway-2 {
	0% {
		-webkit-transform: rotate(15deg)
	}
	40% {
		-webkit-transform: rotate(56deg)
	}
	100% {
		-webkit-transform: rotate(22deg)
	}
}

@keyframes sway-2 {
	0% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}
	40% {
		-ms-transform: rotate(56deg);
		transform: rotate(56deg)
	}
	100% {
		-ms-transform: rotate(22deg);
		transform: rotate(22deg)
	}
}

@-webkit-keyframes sway-3 {
	0% {
		-webkit-transform: rotate(25deg)
	}
	40% {
		-webkit-transform: rotate(74deg)
	}
	100% {
		-webkit-transform: rotate(37deg)
	}
}

@keyframes sway-3 {
	0% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}
	40% {
		-ms-transform: rotate(74deg);
		transform: rotate(74deg)
	}
	100% {
		-ms-transform: rotate(37deg);
		transform: rotate(37deg)
	}
}

@-webkit-keyframes sway-4 {
	0% {
		-webkit-transform: rotate(40deg)
	}
	40% {
		-webkit-transform: rotate(68deg)
	}
	100% {
		-webkit-transform: rotate(25deg)
	}
}

@keyframes sway-4 {
	0% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}
	40% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}
	100% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}
}

@-webkit-keyframes sway-5 {
	0% {
		-webkit-transform: rotate(50deg)
	}
	40% {
		-webkit-transform: rotate(78deg)
	}
	100% {
		-webkit-transform: rotate(40deg)
	}
}

@keyframes sway-5 {
	0% {
		-ms-transform: rotate(50deg);
		transform: rotate(50deg)
	}
	40% {
		-ms-transform: rotate(78deg);
		transform: rotate(78deg)
	}
	100% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}
}

@-webkit-keyframes sway-6 {
	0% {
		-webkit-transform: rotate(65deg)
	}
	40% {
		-webkit-transform: rotate(92deg)
	}
	100% {
		-webkit-transform: rotate(58deg)
	}
}

@keyframes sway-6 {
	0% {
		-ms-transform: rotate(65deg);
		transform: rotate(65deg)
	}
	40% {
		-ms-transform: rotate(92deg);
		transform: rotate(92deg)
	}
	100% {
		-ms-transform: rotate(58deg);
		transform: rotate(58deg)
	}
}

@-webkit-keyframes sway-7 {
	0% {
		-webkit-transform: rotate(72deg)
	}
	40% {
		-webkit-transform: rotate(118deg)
	}
	100% {
		-webkit-transform: rotate(68deg)
	}
}

@keyframes sway-7 {
	0% {
		-ms-transform: rotate(72deg);
		transform: rotate(72deg)
	}
	40% {
		-ms-transform: rotate(118deg);
		transform: rotate(118deg)
	}
	100% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}
}

@-webkit-keyframes sway-8 {
	0% {
		-webkit-transform: rotate(94deg)
	}
	40% {
		-webkit-transform: rotate(136deg)
	}
	100% {
		-webkit-transform: rotate(82deg)
	}
}

@keyframes sway-8 {
	0% {
		-ms-transform: rotate(94deg);
		transform: rotate(94deg)
	}
	40% {
		-ms-transform: rotate(136deg);
		transform: rotate(136deg)
	}
	100% {
		-ms-transform: rotate(82deg);
		transform: rotate(82deg)
	}
}

.sakura {
	/* background: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));*/
	background: red;
	pointer-events: none;
	position: absolute
}

.sakura {
	background: #674ea7;
}


/*******************************/

body {
	font-family: Arial, Helvetica, Sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

@media (max-width:900px) {
	img {
		max-width: 30%;
	}
}

.top-right-decoration {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}

.top-left-decoration {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.title h1 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-style: normal;
	font-size: 60px;
	margin: 32px 0;
	color: #674ea7;
}

.title h2 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-style: normal;
	margin: 0;
	padding: 0;
	font-size: 24px;
	color: #e25c67;
	line-height: 1;
}

.dance-med {
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
	font-style: normal;
	font-size: 24px;
	color: #674ea7;
	margin: 16px;
	text-align: center;
}

.title h3 {
	font-weight: 300;
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
	letter-spacing: 5px;
	font-size: 24px;
	color: #674ea7;
	margin-top: 5px;
}

.title p {
	color: #564861;
	margin: 30px 0 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 16px;
}

.wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	/* padding: 20px; */
	text-align: center;
	/* min-height:100%; */
}


/** **/

* {
	/* margin: 0;
    padding: 0; */
	font-family: 'Arvo', serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh;
    width: 100%; */
	flex-direction: column;
}

.title {
	margin-bottom: 40px;
}

#time {
	width: auto;
	height: auto;
	padding: 20px;
	background-color: #eee;
	border-radius: 20px;
	font-size: 16px;
}

.venue {
	width: auto;
	height: auto;
	background-color: #674ea7;
	border-radius: 16px;
	text-align: center;
	color: #fff;
	padding: 8px;
	margin-right: 8px;
}

.venue a {
	text-decoration: none;
	color: #fff;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 10px;
	overflow: hidden;
}

.block {
	width: 180px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}

.days {
	background: linear-gradient(90deg, #b33a46, #9b313c);
}

.hours {
	background: linear-gradient(90deg, #a7c3cd, #90a9b2);
}

.minutes {
	background-color: #874562;
}

.seconds {
	background-color: #145689;
}

.date {
	color: #874562;
	font-weight: 900;
}

.place {
	color: #874562;
	font-weight: 900;
}

.footer {
	color: #564861;
	text-align: center;
	font-size: 16px;
	margin: 24px;
}

.phone {
	color: #874562
}

.end-msg {
	width: auto;
	height: auto;
	padding: 12px;
	background: linear-gradient(90deg, #b33a46, #9b313c);
	border-radius: 20px;
	font-size: 14px;
	color: #fff;
	font-size: 24px;
}

a {
	text-decoration: none;
}

.happiness {
	color: #874562;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
}

.twitter {
	color: #874562;
}

.music {
	display: none;
}

.actions {
	display: flex;
	font-size: 12px;
	letter-spacing: 0pt;
}

article {
	--img-scale: 1.001;
	--title-color: black;
	--link-icon-translate: -20px;
	--link-icon-opacity: 0;
	position: relative;
	border-radius: 16px;
	box-shadow: none;
	background: #fff;
	transform-origin: center;
	transition: all 0.4s ease-in-out;
	overflow: hidden;
  }
  
  article a::after {
	position: absolute;
	inset-block: 0;
	inset-inline: 0;
	cursor: pointer;
	content: "";
  }
  
  /* basic article elements styling */
  article h2 {
	margin: 0 0 18px 0;
	font-family: "Bebas Neue", cursive;
	font-size: 1.9rem;
	letter-spacing: 0.06em;
	color: var(--title-color);
	transition: color 0.3s ease-out;
  }
  
  figure {
	margin: 0;
	padding: 0;
	aspect-ratio: 16 / 9;
	overflow: hidden;
  }
  
  article img {
	max-width: 100%;
	transform-origin: center;
	transform: scale(var(--img-scale));
	transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
	padding: 24px;
  }
  
  article a {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	color: #28666e;
  }
  
  article a:focus {
	outline: 1px dotted #28666e;
  }
  
  article a .icon {
	min-width: 24px;
	width: 24px;
	height: 24px;
	margin-left: 5px;
	transform: translateX(var(--link-icon-translate));
	opacity: var(--link-icon-opacity);
	transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
	--img-scale: 1.1;
	--title-color: #28666e;
	--link-icon-translate: 0;
	--link-icon-opacity: 1;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	padding: 48px 0;
	font-family: "Figtree", sans-serif;
	font-size: 1.2rem;
	line-height: 1.6rem;
	background-image: 1fr;
	min-height: 100vh;
  }
  
  .articles {
	display: grid;
	margin-top: 25px;
	max-width: 700px;
	margin-inline: auto;
	padding-inline: 24px;
	grid-template-columns: 1fr;
	gap: 24px;
  }
  
  
  @container card (min-width: 380px) {
	.article-wrapper {
	  display: grid;
	  grid-template-columns: 100px 1fr;
	  gap: 16px;
	}
	.article-body {
	  padding-left: 0;
	}
	figure {
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	}
	figure img {
	  height: 100%;
	  aspect-ratio: 1;
	  object-fit: cover;
	}
  }
  
  .sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
  }

  .main-example {
	margin: 0 auto;
	width: 355px;
	text-align: center;
}
.main-example .countdown-container {
	height: 130px;
}
.main-example .time {
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	display: inline-block;
	text-align: center;
	position: relative;
	height: 95px;
	width: 65px;

	-webkit-perspective: 479px;
	-moz-perspective: 479px;
	-ms-perspective: 479px;
	-o-perspective: 479px;
	perspective: 479px;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.main-example .count {
	background: #202020;
	color: #f8f8f8;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	line-height: 2.4em;
	overflow: hidden;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	top: 0;
	width: 100%;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-transform-style: flat;
	-moz-transform-style: flat;
	-ms-transform-style: flat;
	-o-transform-style: flat;
	transform-style: flat;
}
.main-example .count.top {
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.1);
	border-radius: 5px 5px 0 0;
	height: 50%;

	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.main-example .count.bottom {
	background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
	background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
	background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
	background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
	background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-radius: 0 0 5px 5px;
	line-height: 0;
	height: 50%;
	top: 50%;

	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	-o-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
.main-example .count.next {
}
.main-example .label {
	font-size: normal;
	margin-top: 5px;
	display: block;
	position: absolute;
	top: 95px;
	width: 100%;
}
/* Animation start */
.main-example .count.curr.top {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg);
	z-index: 3;
}
.main-example .count.next.bottom {
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);
	-o-transform: rotateX(90deg);
	transform: rotateX(90deg);
	z-index: 2;
}
/* Animation end */
.main-example .flip .count.curr.top {
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;

	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}
.main-example .flip .count.next.bottom {
	-webkit-transition: all 250ms ease-in-out 250ms;
	-moz-transition: all 250ms ease-in-out 250ms;
	-ms-transition: all 250ms ease-in-out 250ms;
	-o-transition: all 250ms ease-in-out 250ms;
	transition: all 250ms ease-in-out 250ms;

	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.main-example {
	width: 100%;
}
.main-example .countdown-container {
	height: 100px;
}
.main-example .time {
	height: 70px;
	width: 48px;
}
.main-example .count {
	font-size: 1.5em;
	line-height: 70px;
}
.main-example .label {
	font-size: 0.8em;
	top: 72px;
}