<!DOCTYPE html>
<html lang="en" >
   <head>
      <link rel="shortcut icon" href="favicon.png" type="image/png"> 
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="description"
         content="Anurag weds Anju on 2nd May 2023.">
      <meta name="author" content="Anurag">
      <meta name="email" content="anuragbharatpandey@gmail.com">
      <meta name="copyright" content="Anurag 2020" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="Anju weds Anurag | 2nd May | Forest Club, Gorakhpur" />
      <meta property="og:description"
         content="Anurag weds Anju on 2nd May 2023." />
      <meta property="og:image" content="https://user-images.githubusercontent.com/16067335/222914065-6ff63ef8-a28a-4a4a-9107-faf44d211f2c.jpg" />
      <meta property="og:url" content="" />
      <meta property="og:site_name" content="Wedding Invitation | 2nd May" />
      <meta name="twitter:card" content="website">
      <meta name="twitter:site" content="Wedding Invitation | 2nd May">
      <meta name="twitter:title" content="Wedding Invitation | 2nd May">
      <meta name="twitter:description"
         content="Anurag weds Anju on 2nd May 2023.">
      <meta name="twitter:creator" content="@anurag_b_pandey">
      <meta name="twitter:image" content="https://user-images.githubusercontent.com/16067335/222914065-6ff63ef8-a28a-4a4a-9107-faf44d211f2c.jpg">

      <title>Wedding Invitation | May 02 | Forest Club, Gorakhpur</title>

      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Dancing+Script&amp;display=swap'>
      <link rel="stylesheet" href="./css/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <!-- partial:index.partial.html -->
      <div class="sakura-falling"></div>
      <img src="https://i.imgur.com/dGOOfnA.png" alt="image-top-right" class="top-right-decoration">
      <img src="https://i.imgur.com/t6ffnbn.png" alt="image-top-left" class="top-left-decoration"> 
      <section id="media"></section>
      <div class="wrap">
         <div class="title">
            <h1>Anju </h1>
            <h2>&</h2>
            <h1>Anurag</h1>
            <h3>request the honor of your presence.</h3>
            <p>
               on <span class="date">02 May 2023</span></29>, At <span class="place">Forest Club</span> Gorakhpur               
            </p>
         </div>
      </div>
      <div class="main-example">
        <div class="countdown-container" data-timer="2023/05/02" id="main-example"></div>
        </div>
        <script type="text/template" id="main-example-template">
        <div class="time <%= label %>">
          <span class="count curr top"><%= curr %></span>
          <span class="count next top"><%= next %></span>
          <span class="count next bottom"><%= next %></span>
          <span class="count curr bottom"><%= curr %></span>
          <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
        </div>
        </script>
      <!-- <div id="time"></div>--> 
      <section class="articles">
         <article>
           <div class="article-wrapper">
             <figure>
               <img src="./assets/img/engagement.jpg" alt="" />
             </figure>
             <div class="article-body">
               <h2 style="color: #674ea7;">Engagement</h2>
               <p>
                  <div>Join us for a love-filled celebration as we take the next step in our journey together! We are excited to announce our engagement and would be honored to have you join us in this special moment.</div>
                  <br>
                  <div><b style="color: #564861;">Date: </b> Friday, 28th April 2023 at 2pm</div>
                  <div style="margin-top: 10px;"><b style="color: #564861;">Venue: </b> The Tejas Banquet, Taramandal, Gorakhpur</div>
               </p>
               <a href="https://goo.gl/maps/f7w2zUhHrkBy1E3x7" class="read-more" target="_blank">
                 How to reach?<span class="sr-only">about this is some title</span>
                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                   <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                 </svg>
               </a>
             </div>
           </div>
         </article>
         <article>
       
           <div class="article-wrapper">
             <figure>
               <img src="./assets/img/mehndi.jpg" alt="" />
             </figure>
             <div class="article-body">
              <h2 style="color: #674ea7;">Mehndi</h2>
              <p>
                 <div>Darker the color of the mehndi, the deeper the love between the couple</div>
                 <br>
                 <div><b style="color: #564861;">Date: </b> Sunday, 30th April 2023 at 2pm</div>
                 <div style="margin-top: 10px;"><b style="color: #564861;">Venue: </b> Sundaram Marriage Hall, Deoria Rd., Gorakhpur</div>
              </p>
              <a href="https://goo.gl/maps/az2Q973DxeobUftPA" class="read-more" target="_blank">
                How to reach?<span class="sr-only">about this is some title</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </a>
             </div>
           </div>
         </article>

          <article>
       
            <div class="article-wrapper">
              <figure>
                <img src="./assets/img/sangeet.jpg" alt="" />
              </figure>
              <div class="article-body">
               <h2 style="color: #674ea7;">Sangeet</h2>
               <p>
                  <div>Get your dancing shoes ready, it's time to sway and groove! Join us for a night of music, fun, and love at our Sangeet ceremony. Let's celebrate the union of two hearts with joy and laughter.</div>
                  <br>
                  <div><b style="color: #564861;">Date: </b> Sunday, 30th April 2023 7pm onwards</div>
                  <div style="margin-top: 10px;"><b style="color: #564861;">Venue: </b> Sundaram Marriage Hall, Deoria Rd., Gorakhpur</div>
               </p>
               <a href="https://goo.gl/maps/az2Q973DxeobUftPA" class="read-more" target="_blank">
                 How to reach?<span class="sr-only">about this is some title</span>
                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                   <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                 </svg>
               </a>
              </div>
            </div>
          </article>

          <article>
       
            <div class="article-wrapper">
              <figure>
                <img src="./assets/img/haldi.avif" alt="" />
              </figure>
              <div class="article-body">
               <h2 style="color: #674ea7;">Haldi</h2>
               <p>
                  <div>Let's add a little sunshine to the bride and groom's special day! Come and join us for the Haldi ceremony, a time to spread love, happiness, and blessings. We'll be slathering on the turmeric paste and dancing to the beat. So put on your brightest yellows and get ready to glow with us!</div>
                  <br>
                  <div><b style="color: #564861;">Date: </b> Tuesday, 2nd May 2023 at 10 AM</div>
                  <div style="margin-top: 10px;"><b style="color: #564861;">Venue: </b> At our residence</div>
               </p>
               <a href="https://goo.gl/maps/az2Q973DxeobUftPA" class="read-more" target="_blank">
                 How to reach?<span class="sr-only">about this is some title</span>
                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                   <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                 </svg>
               </a>
              </div>
            </div>
          </article>
          
          <article>
       
            <div class="article-wrapper">
              <figure>
                <img src="./assets/img/wedding.jpg" alt="" />
              </figure>
              <div class="article-body">
               <h2 style="color: #674ea7;">Tilak & Wedding</h2>
               <p>
                  <div>Two hearts become one, and a love story unfolds. Join us on this special day, as we exchange our vows. Together, we'll laugh, dance, and create memories that will last a lifetime. It's time to celebrate the beginning of our happily ever after. So mark your calendars, dress your best, and get ready to witness the magic of our love story. We can't wait to share this day with you!</div>
                  <br>
                  <div><b style="color: #564861;">Date: </b> Tuesday, 2nd May 2023 at 6 PM</div>
                  <div style="margin-top: 10px;"><b style="color: #564861;">Venue: </b> Forest Club, Deoria Rd, Gorakhpur</div>
               </p>
               <a href="https://goo.gl/maps/aoTmWG8kdNPN4ixbA" class="read-more" target="_blank">
                 How to reach?<span class="sr-only">about this is some title</span>
                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                   <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                 </svg>
               </a>
              </div>
            </div>
          </article>
       </section>
       <p style="font-size: 36px;color: #674ea7;">
        #anjuanurag
       </p>
       <div style="display: flex; gap: 20px;">
        <a href="https://instagram.com/explore/tags/anjuanurag" target="_blank" class="twitter" style="font-size: 50px;"><i class="fa fa-instagram" style="margin-top: 5px;"></i></a>
        <a href="https://www.facebook.com/hashtag/anjuanurag" target="_blank" class="twitter" style="font-size: 50px;"><i class="fa fa-facebook" style="margin-top: 5px;"></i></a>
        <a href="https://twitter.com/search?q=%23anjuanurag" target="_blank" class="twitter" style="font-size: 50px;"><i class="fa fa-twitter" style="margin-top: 5px;"></i></a>
       </div>
       <div class="tagembed-container" style=" width:100%;height:100%;overflow: auto;"><div class="tagembed-socialwall" data-wall-id="90096"></div> <script src="https://widget.tagembed.com/embed.min.js" type="text/javascript"></script></div>
       <p class="dance-med">
        Wedding Venue, Forest Club, Gorakhpur
       </p>
      <div style="margin-top: 25px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3564.337119592633!2d83.46639631504044!3d26.70167508321891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39915c56a3542a07%3A0x8ce2c9e45706b286!2sForest%20Club%20-%20A%20venture%20of%20Royal%20Residency!5e0!3m2!1sen!2sin!4v1677940626432!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      
      <div class="actions">
        <a href="./invitation/1677909075475.jpg" target="_blank" style="margin-top: 25px;">
          <div class="venue">DOWNLOAD eINVITE</div>
        </a>
        <a href="./invitation/1677860377924.mp4" download="Invitation | 02 May | Hope to see you there!" style="margin-top: 25px;">
          <div class="venue">DOWNLOAD VIDEO</div>
        </a>
      </div>
      <p class="footer">
        Save the date and let's create memories that will last a lifetime! <br>
         Just a text away for any queries: <a href="https://wa.me/919825459289" target="_blank" class="twitter" style="font-size: 24px;"><i class="fa fa-whatsapp" style="margin-top: 25px;"></i></a>
         <span></span>
      </p>
      <div class="music">
        <audio src="./assets/mp3/song.mp3" id="my_audio" loop="loop"></audio> 
      </div>
      <p class="happiness">Join us in our happiness!<br><a href="https://instagram.com/explore/tags/anjuanurag" target="_blank" class="twitter"><i class="fa fa-instagram" style="margin-top: 15px;"></i></a></p>
      <!-- partial -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
      <script src='https://cdn.jsdelivr.net/gh/timoschaefer/jQuery-Sakura/jquery-sakura.min.js'></script>
      <script src = 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js'></script>
      <script  src="./js/script.js"></script>
   </body>

</html>
